* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

#header {
    background-color: #d2577e;
    width: 100%;
}

.container1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 1360px; 
    margin: 0 auto;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}

.group {
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 20%;
}

.logo {
    display:inline-block;
    line-height: 62px;
    margin-left: 22px;
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    width: 10%;     
}

.navigaatio {
    width: 100%;
    float: left;
    text-align: right;
    margin-right: 0px;
}

.navigaatio ul li {
    display:inline-block;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 0; 
}

.navigaatio a{
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}


.signin {
    width: 10%;
    display: flex;
    align-items: center;
}

.signin ul li {
    display:inline-block;
    padding-bottom: 0;
}

.signin a {
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}

h2 {
    font-size: 18px;
}

p {
   font-size: 15px;
   color: grey;
   margin: 2px;
   padding-left: 2px;
}

.article {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 33px;                        
}

.picture {
    float: left;
    width: 50%;
}

.picture img {
    width: 100%;
}

.text {
    float: left;
    width: 48%;
    padding-left: 10px;
}
.container::after {
    content:"";
    clear: both;
    display: table;
}

#endtext {
    width: 100%;
    height: 20px;
    margin: 0 auto;
    position: relative;
    bottom: 20px;
    font-size: 13px;
    color: rgb(53, 53, 250);
    text-align: right;
}
