* {
    box-sizing: border-box;
  }
  
body {
    position: relative;
    color: #2c3543;
    background-color: #f1f1f1;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    width: 100%;
    margin: 0 auto;
}


.container {
    width: 1140px;
    margin: 0 auto;
}

#logo {
    display:inline-block;
    line-height: 62px;
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    position: relative;    
    color: black;
    right: -203px;
}

#eka div.navigation { /*navigation*/
    width: 100%;
    height: 300px;
    background-image: url("Hanoi garden work.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}


#eka .navigation ul {
    margin: 0px;
    list-style-type: none;
    padding: 2px;
    overflow: hidden;
    text-align: right;
    background-color: rgba(255, 255, 0, 0.516);
}

#eka a:hover {
    text-decoration-line: none;
    font-weight: bolder;
    color: rgb(16, 16, 237);
    
}

#eka a{
    color: rgb(55, 233, 70);
    text-decoration: none;
}


.navigation li {
    display: inline-block; 
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(82, 80, 80);        
}

#eka .transbox ul li {
    font-size: 15px;
}

#intro {
    margin: 0 auto;
    width: 100%;
}



.lohko {
    height: 359px;
    width: 48%;
    margin: 0 auto;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    background-color: #ffffff;
    border: 1px solid rgb(247, 247, 142);
}

.kuva img {
    width: 250px;
    padding-left: 10px;
}

.kuva {
    width: 50%;
    float: left;
}

#kuvat {
    margin-top: 48px;
}

.famous {
    float: left;
    width: 20%;
    
}

#kuvat::after, #lohkot::after {
    content:"";
    clear: both;
    display: table;
}

.famous img {
    width: 95%;
       
}

#eka h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin: auto;
    background-color: rgb(250, 250, 114);
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
}

#eka h2 {
    font-size: 25px;
    text-align: left;
    padding-left: 10px;
}

#eka h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 63px;
    padding-bottom: 13px;
}

.content {
    width: 100%;
    float: left;
    padding-left: 2px;
           
}

.content p {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

#endtext {
    width: 100%;
    height: 20px;
    margin: 0 auto;
    position: relative;
    bottom: 5px;
    font-size: 13px;
    color: black;
    text-align: right;
}
    
